<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlt.deviceledger.dao.user.IUserDao">

	<resultMap id="BaseResult" type="com.wlt.deviceledger.bean.user.UserBean">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="login_act" property="loginAct" />
		<result column="login_pwd" property="loginPwd" />
		<collection property="roleList" javaType="com.wlt.deviceledger.bean.auth.Role">
			<id column="id" property="id" />
			<result column="dept_code" property="deptCode" />
			<result column="role" property="role" />
		</collection>
	</resultMap>

	<select id="selectUserOfRole" resultMap="BaseResult">

		select *
		from tbl_user u
		left join tbl_user_role ur
		on ur.user_id=u.id
		and u.is_delete=0
		and u.state=0

	</select>
	
	<select id="getPerOfUserId" parameterType="java.lang.String" resultType="com.wlt.deviceledger.bean.auth.Permission">

		SELECT
			p.* ,
			pu.url as perUrl 
		FROM
			(
		SELECT
			rp.per_id 
		FROM
			tbl_role_per rp 
		WHERE
			rp.role_id IN ( SELECT ur.role_id FROM tbl_user_role ur WHERE ur.user_id = #{id} ) 
			) t
		RIGHT JOIN tbl_permission p ON p.id = t.per_id
		LEFT JOIN tbl_per_url pu on pu.per_id = p.id

	</select>

</mapper>